# Paper jar & User scripts
run.bat
paper*.jar

# Minecraft Libraries & server logs
cache/
libraries/
logs/
versions/
.console_history

# Specific configuration files
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
usercache.json
version_history.json
whitelist.json

# bStats config
plugins/bStats/config.yml

# Worlds
devmap*/

# Essentials
plugins/Essentials/userdata/*
